# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/.vs/binding/v15/ipch/AutoPCH/a77c5ce1f695d503/WIN-CONSOLE.ipch
build/.vs/binding/v15/ipch/AutoPCH/b897b4c03c88ea73/CONSOLEAPI.ipch
build/.vs/binding/v15/ipch/AutoPCH/bdce7f69f1ad7e30/CONSOLEAPI.ipch
build/.vs/binding/v15/ipch/AutoPCH/f2b6bbe7f3a1b856/WIN-CONSOLE.ipch
build/.vs/binding/v15/.suo
build/.vs/binding/v15/Browse.VC.db
build/.vs/binding/v15/Browse.VC.opendb
build/.vs/config/applicationhost.config
build/Debug/obj/winconsole/winconsole.tlog/CL.command.1.tlog
build/Debug/obj/winconsole/winconsole.tlog/CL.read.1.tlog
build/Debug/obj/winconsole/winconsole.tlog/CL.write.1.tlog
build/Debug/obj/winconsole/winconsole.tlog/link.command.1.tlog
build/Debug/obj/winconsole/winconsole.tlog/link.read.1.tlog
build/Debug/obj/winconsole/winconsole.tlog/link.write.1.tlog
build/Debug/obj/winconsole/winconsole.tlog/winconsole.lastbuildstate
build/Debug/obj/winconsole/winconsole.tlog/winconsole.write.1u.tlog
build/Debug/obj/winconsole/vc141.pdb
build/Debug/obj/winconsole/winconsole.log
build/Debug/winconsole.exp
build/Debug/winconsole.ilk
build/Debug/winconsole.map
build/Debug/winconsole.pdb
build/Release/obj/winconsole/winconsole.tlog/CL.command.1.tlog
build/Release/obj/winconsole/winconsole.tlog/CL.read.1.tlog
build/Release/obj/winconsole/winconsole.tlog/CL.write.1.tlog
build/Release/obj/winconsole/winconsole.tlog/link.command.1.tlog
build/Release/obj/winconsole/winconsole.tlog/link.read.1.tlog
build/Release/obj/winconsole/winconsole.tlog/link.write.1.tlog
build/Release/obj/winconsole/winconsole.tlog/link-VCTIP.delete.13.tlog
build/Release/obj/winconsole/winconsole.tlog/link-VCTIP.delete.62.tlog
build/Release/obj/winconsole/winconsole.tlog/link-VCTIP.delete.8.tlog
build/Release/obj/winconsole/winconsole.tlog/link-VCTIP.delete.89.tlog
build/Release/obj/winconsole/winconsole.tlog/winconsole.lastbuildstate
build/Release/obj/winconsole/winconsole.tlog/winconsole.write.1u.tlog
build/Release/obj/winconsole/vc141.pdb
build/Release/obj/winconsole/winconsole.log
build/Release/obj/win-console/win-console.tlog/CL.command.1.tlog
build/Release/obj/win-console/win-console.tlog/CL.read.1.tlog
build/Release/obj/win-console/win-console.tlog/CL.write.1.tlog
build/Release/obj/win-console/win-console.tlog/unsuccessfulbuild
build/Release/obj/win-console/win-console.tlog/win-console.lastbuildstate
build/Release/obj/win-console/vc141.pdb
build/Release/winconsole.exp
build/Release/winconsole.iobj
build/Release/winconsole.ipdb
build/Release/winconsole.map
build/Release/winconsole.pdb
build/binding.sln
build/config.gypi
build/winconsole.vcxproj
build/win-console.vcxproj
build/winconsole.vcxproj.filters
build/win-console.vcxproj.filters
build/winconsole.vcxproj.user
